@media only screen and (max-width: 520px) {

    .grpRight h1 {
        font-size: clamp(2rem,2.5rem,4rem);
        -webkit-text-stroke: .25px #BBA017;
    }

    .grpRight p {
        font-size: max(1.5rem);
        letter-spacing: 0.1rem;
    }

    .grpRight a {
        padding: 3px 6px;
        font-size: max(2.5rem);
        letter-spacing: 0.1rem;
    }

    .hamburger-lines .line {
        margin: 0.5rem;
        height: 5px;
    }

    .ms-adpt a {
        font-size: 3rem;
        padding: 0;
        justify-content: space-between;
    }

    .container2 {
        box-shadow: none;
        width: 100%;
        gap: 2rem;
    }

    .offer {
        width: 25rem;
        height: 45rem;
    }

    .AboutText::after {
        display: none;
        content: none;
    }

    .AboutText {
        width: 100%;
        background: #ffffffc2;
    }
    .AboutText p {
        font-size:1.2rem;
        padding: 0.3rem 1rem;
        letter-spacing: 0;
        justify-content: center;

    }   
    .bgImg {
        width: 100%;
    }

    .AboutText h1 {
        text-align: justify;
        font-size: 1rem;
        padding: 0.3rem 1rem;
        letter-spacing: 0;
    }

    .icon-phone {
        display: none;
    }



}

@media only screen and (max-width: 768px) {



    .AboutText h1 {
        text-align: justify;
        font-size: 2rem;
        padding: 0.3rem 1rem;
    }


}


@media only screen and (max-width: 410px) {

    nav .logo {
        font-size: 1rem;
    }

    .hamburger-lines {
        width: 3.5rem;
    }

    .AboutText p {
        text-align: justify;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        letter-spacing: 0;
    }

    .AboutText h1 {
        font-size: 2rem;
    }

    .flx-sp-bw .media-icon {
        width: 3rem;
        height: 3rem;
    }

    .media-icon {
        width: 1rem;
        height: 1rem;
    }

}